In [3]:
#importing packages
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [4]:
startups = pd.read_csv('deutsche_startups.csv')
startbase = pd.read_csv(r'C:\Users\Paola Loreto\Documents\startbase.txt')

In [5]:
startbase = startbase.drop(columns= ['Logo', 'Teaser', 'Company Stage', 'Customer Focus', 'Team Size', 'Handelsregister', 'Business Model', 'Legal Entity', 'About'])

In [6]:
#Changing startbase columns and adapting to startups
startbase = startbase[['Name', 'Official Website', 'Members', 'Founding Year', 'Headquarter', 'Sector', 'On Social Media']]
startbase.columns = ['Company_name', 'URL', 'company_head', 'founded_year', 'location', 'model', 'contact']
startbase.head()

,Company_name,URL,company_head,founded_year,location,model,contact
0,soap & precede,heimathaufen.de,"{'Oliver Schumacher': 'Co-Founder', 'Boris Sch...",2018.0,"Hamburg, DE",Nutrition & Consumables,"['https://www.instagram.com/soapandprecede/', ..."
1,creditshelf,creditshelf.com,{'Birgit Hass': ''},2014.0,"Frankfurt, DE",Finance & Insurance,"['https://twitter.com/creditshelf', 'https://w..."
2,Swarm Logistics,swarmlogistics.net,{'Damir Dulovic': ''},2018.0,"Stuttgart, DE",Industrial & Basic Materials,"['https://twitter.com/swarmlogistics', 'https:..."
3,M채dchenflohmarkt,maedchenflohmarkt.de,{'Peter Ambrozy': ''},2012.0,"Stuttgart, DE",Textiles,['https://www.instagram.com/maedchenflohmarkt/...
4,ViveLaCar,vivelacar.com,"{'Florine von Caprivi': 'CRO', 'Mathias Albert...",2019.0,"Stuttgart, DE","Automotive, Logistics & Mobility",['https://www.instagram.com/vivelacar_autoabo/...

In [7]:
#Concatenating both df
all_startups = pd.concat([startups,startbase])

In [11]:
#ID startups without location 
all_startups.describe()
no_location = pd.isnull(all_startups['location'])
x = np.where(no_location)[0] 
x = np.nan

In [12]:
clean_startups = all_startups.drop_duplicates(subset = 'Company_name')
clean_startups.replace(['NaN','', ' ', '{}','[]'], None)
clean_startups.describe()
list_startups = clean_startups.to_csv(r'C:\Users\Paola Loreto\Documents\DOCUMENTS\Tech_Labs\list_startups.csv', index =False)

In [13]:
startups = pd.read_csv(r'C:\Users\Paola Loreto\Documents\DOCUMENTS\Tech_Labs\list_startups.csv')

In [14]:
locations = startups['location']
location = [str(x) for x in locations]
startups['location'] = location
startups['location'] = startups['location'].str.replace(', DE', '')

In [71]:
year = startups['founded_year']
year = year.replace(['2006 / 2001', '1996 / 2007', '2004 / 2008', '2001 / 2007', ], 'nan')
year = year.replace('2005 (als Hitflip Media Trading GmbH)', '2005')
year = year.replace(['2007 (Spin', '2006/2008'], '2007')
digits = year.str.len()
year.loc[digits < 4] =np.nan
year = [float(x) for x in year]
years = list(set(year))
startups['founded_year'] = year

In [74]:
startups.head()

,Company_name,URL,company_head,founded_year,location,model,contact
0,1000Mikes AG,http://www.1000mikes.com/,"Frank Felix Debatin, Peter Schweyer",2007.0,Hamburg,User generated Webradio,info@1000mikes.com
1,12designer,http://www.12designer.com,Lars Bamberg,2009.0,Berlin,Marktplatz f체r Kreatives,NaN
2,12like GmbH,http://www.12like.com,"Kathrin Anselm, Dirk Wischnewski",2010.0,Berlin,Partnervermittlung,NaN
3,15Talents.com GmbH & Co. KG,http://www.15talents.com/,"Marc Dr?ner, Henrike Fr?chling",2008.0,Berlin,Projektmartktplatz f체r Unternehmen und Studenten,team@15talents.com
4,21Publish Web Services GmbH,http://www.yourteam.de/,Stefan Wiskemann,2007.0,Hamburg,Mannschafts-Community,NaN